@import "color";

// Mixin
@mixin flex-box($justify, $align, $direction, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $direction $wrap;
}

@mixin color($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

@mixin button($outline, $border, $color, $bg-color, $hover-color, $hover-bgcolor) {
  outline: $outline;
  border: $border;
  color: $color;
  background-color: $bg-color;
  &:hover{
    color: $hover-color;
    background-color: $hover-bgcolor;
  }
}
// End mixin
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  line-height: 2;
  font-family: 'Karla', sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

html{
  overflow-x: hidden;
}

body{
  background-image: linear-gradient(#f2f2f2, #dbdbdb, #eaeaea);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  font-size: 1.6em;
}

h1,
h2,
h3{
  // font-size: 1.7em;
}

p{
  font-size: 1.2em;
}
// Extend
%grid{
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

%grid-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  width: 90%;
  border-radius: 3rem 6rem;
  transition: all 500ms;
}

// %search{
//   input[type="text"]{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     outline: none;
//     background-color: transparent;
//     width: 100%;
//     border: none;
//     font-size: 1.1rem;
//     &:focus{
//       border-bottom: solid .1rem $secondery;
//     }
//   }
// }
//
// %mobile-search{
//   input{
//     padding: 0 3rem;
//     color: $primary;
//     &:focus{
//       border-bottom: none !important;
//     }
//   }
// }

%primary-btn{
  background-color: $secondery;
  color: $primary;
  outline: none;
  border: none;
  border-radius: 1rem .5rem;
  font-size: 1rem;
  cursor: pointer;
  &:hover{
    background-color: $jouner;
  }
}

%secondery-btn{
  color: $primary;
  outline: none;
  border: none;
  border-radius: .3rem;
  font-size: 1rem;
  cursor: pointer;
}
// End extend
